<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="../static/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-head">
            <div class="container">
                <nav class="level">
                    {% if current_user.is_authenticated %}
                    <div class="level-left">
                        <div class="level-item">
                            <p class="subtitle is-6">
                                Logged in as <strong>{{ name }}</strong>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <div class="level-left">
                        <div class="level-item">
                            <p class="subtitle is-6">
                            </p>
                        </div>
                    </div>
                    {% endif %}

                    <div id="navbarMenuHeroA" class="level-right">
                        <div class="level-item">
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                <strong>Home</strong>
                            </a>
                            <a href="{{ url_for('auth.login') }}" class="button is-success is-light">
                                Login
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.dashboard') }}" class="navbar-item">
                                <strong>Dashboard</strong>
                            </a>
                            <a href="{{ url_for('auth.logout') }}" class="button is-danger is-light">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>