<!-- templates/dashboard.html -->

{% extends "base.html" %}

{% block content %}
<nav class="level">
  <div class="level-item has-text-centered column">
    <div>
      <p class="heading">Balance</p>
      <p class="title">{{ totalbalance }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered column">
    <div>
      <p class="heading">Proofs mined</p>
      <p class="title">{{ totalheight }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered column">
    <div>
      <p class="heading">Current Epoch</p>
      <p class="title">{{ lastepochmined }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered column">
    <div>
      <p class="heading">Accounts</p>
      <p class="title">{{ nrofaccounts }}</p>
    </div>
  </div>
</nav>
<nav class="level">
  <div class="level-item has-text-centered column">
    <div>
      <p class="heading">Rewards E-1</p>
      <p class="title">{{ rewards_last_epoch }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered column">
    <div>
      <p class="heading">Proofs E-1</p>
      <p class="title">{{ proofs_submitted_last_epoch }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered column">
    <div>
      <p class="heading">AVG Proofs E-1</p>
      <p class="title">{{ avg_proofs_mined_last_epoch }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered column">
    <div>
      <p class="heading">Ratio</p>
      <p class="title">{{ reward_pp_last_epoch }}</p>
    </div>
  </div>
</nav>
<div class="box">
  <div class="table-container">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Tower <br />height</th>
        <th>Proofs</th>
        <th>Epoch</th>
        <th>Proofs mined E-11 TD</th>
        <th>Rewards E-11 TD</th>
        <th>Last refreshed</th>
      </tr>
      {% for row in rows %}
      <tr>
        <td class="px-1"><a href="{{ address_url + row.address }}" target="_blank"><u>{{ row.name }}</u></a></td>
        <td class="px-1">{{ row.balance/1000 }}</td>
        <td class="px-1">{{ row.towerheight }}</td>
        <td class="px-1">{{ row.proofsinepoch }}</td>
        <td class="px-1">{{ row.lastepochmined }}</td>
        <td class="px-1">
          <canvas id="{{ 'chart_' + row.address }}" width="250" height="60"></canvas>
          <script>
            var ctx = document.getElementById("{{ 'chart_' + row.address }}").getContext("2d");
            const lab_lst_{{ row.address }} = [];
            const val_lst_{{ row.address }} = [];
            {% if row.address in chart_epoch %}
              const tmp_{{ row.address }} = {{ chart_epoch[row.address]|safe }};
              const lab_tmp_{{ row.address }} = tmp_{{ row.address }}["labels"].toString().split(',');
              const val_tmp_{{ row.address }} = tmp_{{ row.address }}["values"].toString().split(',');
              lab_tmp_{{ row.address }}.forEach(str => {
                lab_lst_{{ row.address }}.push(Number(str));
              });
              val_tmp_{{ row.address }}.forEach(str => {
                val_lst_{{ row.address }}.push(Number(str));
              });
            {% endif %}

            var lineChart = new Chart(ctx, {
              type: "line",
              data: {
                labels: lab_lst_{{ row.address }},
                datasets: [
                  {
                    label: "proofs",
                    data: val_lst_{{ row.address }},
                    fill: false,
                    lineTension: 0.1,
                    borderColor: 'rgba(0, 0, 0, 0.8)'
                  }
                ]
              },
              options: {
                scales:{
                  x: {
                    display: false
                  },
                  y: {
                    max: 73,
                    ticks: {
                        stepSize: 1
                    }
                  }
                },
                responsive: false,
                plugins: {
                  legend: {
                      display: false,
                  }
                }
              }
            });
          </script>
        </td>
        <td class="px-1">
          <canvas id="{{ 'chart_rw_' + row.address }}" width="250" height="60"></canvas>
          <script>
            var ctx = document.getElementById("{{ 'chart_rw_' + row.address }}").getContext("2d");
            const lab_rw_lst_{{ row.address }} = [];
            const val_rw_lst_{{ row.address }} = [];
            {% if row.address in chart_reward %}
              const tmp_rw_{{ row.address }} = {{ chart_reward[row.address]|safe }};
              const lab_rw_tmp_{{ row.address }} = tmp_rw_{{ row.address }}["labels"].toString().split(',');
              const val_rw_tmp_{{ row.address }} = tmp_rw_{{ row.address }}["values"].toString().split(',');
              lab_rw_tmp_{{ row.address }}.forEach(str => {
                lab_rw_lst_{{ row.address }}.push(Number(str));
              });
              val_rw_tmp_{{ row.address }}.forEach(str => {
                val_rw_lst_{{ row.address }}.push(Number(str));
              });
            {% endif %}

            var lineChart = new Chart(ctx, {
              type: "line",
              data: {
                labels: lab_rw_lst_{{ row.address }},
                datasets: [
                  {
                    label: "rewards",
                    data: val_rw_lst_{{ row.address }},
                    fill: false,
                    lineTension: 0.1,
                    borderColor: 'rgba(0, 0, 0, 0.8)'
                  }
                ]
              },
              options: {
                scales:{
                  x: {
                    display: false
                  },
                  y: {
                    ticks: {
                        stepSize: 1
                    }
                  }
                },
                responsive: false,
                plugins: {
                  legend: {
                      display: false,
                  }
                }
              }
            });
          </script>
        </td>
        <td class="px-1">{{ row.updated_at|to_cet }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}